$font-stack: Helvetica, sans-serif;
$primary-color: #333;

html {
    background-color: black;
}

section {
    // background-color: orange;
}

h1 {
    position: center;
}

canvas {
    // background-color: red;
}

body {
    // background-color: blue;
    color: $primary-color;
    font: 100% $font-stack;
    margin: 0;
    overflow: hidden;
}

a,
a:visited {
    color: #ddd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
