{% extends "base.html" %} {% block content %}
<!-- <a href="https://linktr.ee/massivelivefun"><img src="img/linktree.svg" width="10%" height="10%"></a> -->
<h1>Mains</h1>
<a href="https://linktr.ee/massivelivefun>"><p>linktr.ee</p></a>
<a href="https://www.dezzyne.com"><p>dezzyne</p></a>
<a href="https://github.com/massivelivefun"><p>github</p></a>
<br>
<h1>Socials</h1>
<a href="https://twitter.com/massivelivefun"><p>twitter</p></a>
<a href="https://open.spotify.com/user/qbmx6bujstfliuwja28fknwm3?si=fb7129e8c7764763"><p>spotify</p></a>
<a href="https://www.youtube.com/massivelivefun"><p>youtube</p></a>
<a href="https://www.soundcloud.com/massivelivefun"><p>soundcloud</p></a>
<a href="https://www.twitch.tv/massivelivefun"><p>twitch</p></a>
<br>
<h1>Support</h1>
<a href="https://www.patreon.com/massivelivefun"><p>patreon</p></a>
{% endblock content %}
